@model AMSModels.AddVehicleView
@{

    Layout = "~/views/shared/_layout.cshtml";
}
<!-- =============== breadcrumb area start =============== -->
<div class="breadcrumb breadcrumb-style-one mb-0 ">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h1 class="breadcrumb-title">Submit Vehicle</h1>
            <ul class="d-flex justify-content-center breadcrumb-items">
                <li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Submit Vehicle</li>
            </ul>
        </div>
    </div>
</div>
<!-- =============== breadcrumb area end =============== -->
<div class="contact-wrapper  mt-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header mx-auto text-center">
                    <h3>Submit your vehicle</h3>
                    <p>Please submit this initial form to provide us with basic information about your vehicle.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5">
                <div class="contact-box-wrap">
                    <h4>Note:</h4>

                    <div class="single-contact-box">
                        <h6>Let’s Talk</h6>
                        <a href="mailto:info@example.com" class="mail">info@example.com</a> <a href="mailto:support@example.com" class="mail">support@example.com</a>
                        <a href="tel:8801761111456" class="phone">+88 0176 1111 456</a>
                    </div>
                    <div class="single-contact-box">
                        <h6>Loacation.</h6>
                        <a href="#" class="location">168/170, Ave 01, Streets Suite 66xyz, Bangladesh</a>
                    </div>
                    <div class="single-contact-box">
                        <h6>Social Site Link</h6>
                        <a href="#" class="weblink">Facebook: https://www.facebook.com/egenstheme</a>
                        <a href="#" class="weblink">Twitter: https://www.twitter.com/egenstheme</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 mt-5 mt-lg-0">
                <div class="contact-form">
                    <h4>Vehicle Information</h4>
                    <form action="#" id="contact_form" method="post">
                        <div class="contact-input-group">
                            <label for="first-Name">Text Box</label>
                            <input type="text" id="first-Name" placeholder="Full Name">
                        </div>
                        <div class="contact-input-group">
                            <label for="email">Number</label>
                            <input type="number" id="email" placeholder="Enter Your year">
                        </div>
                        <div class="contact-input-group">
                            <label for="email">Text Area</label>
                            <textarea id="massege" cols="30" rows="7" placeholder="Type your Message"></textarea>
                        </div>
                        <div class="contact-input-group">
                            <label for="drop">Dropdown</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="mt-3">
                            <label for="email">Radios</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Default radio
                                </label>
                            </div>
                            <br />
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Default checked radio
                                </label>
                            </div>
                        </div>
                        <div class="mt-3">
                            <label for="email">Toggle buttons</label>
                            <div class="switch-field">
                                <input type="radio" id="radio-one" name="switch-one" value="yes" checked />
                                <label for="radio-one">Yes</label>
                                <input type="radio" id="radio-two" name="switch-one" value="no" />
                                <label for="radio-two">No</label>
                            </div>
                        </div>
                        <div class="mt-3">
                            <label for="email">Two inputs in one row</label>
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Month" aria-label="First name">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Year" aria-label="Last name">
                                </div>
                            </div>
                        </div>
                        <div class="contact-input-group mt-0">
                            <button type="submit" class="submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>